.card__name {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 20px;
  line-height: 19px;
  color: #989898;
}

.register__telephone {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  width: 340px;
  position: relative;
}

.register__telephone > :nth-child(1) {
  margin-top: 0;
  text-align: left;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #989898;
}

.register__input {
  margin-top: 6px;
}

.register__input > :nth-child(1) {
  width: 98%;
  height: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.register__input > :nth-child(1)::placeholder {
  font-family: 'Manrope';
  color: #a29d9d;
  font-style: italic;
}

.register__password {
  display: flex;
  flex-direction: column;
  transition: 1s;
  position: relative;
  margin-top: 18px;
}

.register__password > :nth-child(1) {
  text-align: left;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #989898;
}

.register__restore {
  margin: 15px 0;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f6b52e;
  text-align: end;
  cursor: pointer;
}

.login__button {
  margin: 60px 0 0 0;
  position: relative;
}

.login__button > :nth-child(1) {
  width: 100%;
  height: 44px;
  border: none;
  background: #f2b705;
  border-radius: 5px;
  color: #fff;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.error__input {
  position: absolute;
  top: 42px;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: red;
  font-style: italic;
}

.wrong__data {
  font-size: 14px;
  right: 0;
}
