.register_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../assets/png/new-fone.png) 20% 0 / cover no-repeat;
}
